// 폰트
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

// 배경화면
.v-application {
  background-image:
    linear-gradient(180deg, rgba(255, 255, 255, 0.72) 0%, rgb(255 255 255 / 45%) 10%),
    url(https://4kwallpapers.com/images/wallpapers/macos-big-sur-apple-layers-fluidic-colorful-wwdc-stock-2560x1440-1455.jpg) !important;
  background-size: cover;
  background-position: center;

  //background: #ff4100 !important;
  //background: -webkit-linear-gradient(136deg, #ff4100 0%, #fff0f9 100%) !important;
  //background: linear-gradient(17deg, #ff4100 0%, #fff0f9 100%) !important;
  padding: 32px !important;
}

// 높이
.v-application--wrap {
  min-height: calc(100vh - 60px) !important;
  height: calc(100vh - 60px) !important;
}

.glassmorphism {
  background: rgba( 255, 255, 255, 0.40 ) !important;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10.0px );
  -webkit-backdrop-filter: blur( 10.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
}

.default-v-card {
  background: rgba( 189, 189, 189, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px !important;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.v-sheet {
  background-color: transparent !important;
}

.v-card {
  background-color: transparent !important;
}

.v-tabs-items {
  background-color: transparent !important;
}

.v-card__title > p {
  padding: 0 !important;
  margin: 0 !important;
}

.v-subheader {
  color: #3c3a3a !important;
  font-size: 15px !important;
  font-weight: 500 !important;
}

.v-card__text {
  color: white;
}
